<h1>Activity List</h1>
<div *ngIf="activities.length > 0; else noActivities">
    <div *ngFor="let activity of activities">
        <p>Name: {{ activity.activity }}</p>
        <p>Type: {{ activity.type | titlecase}}</p>
        <p>Price: {{ activity.price }}</p>
        <button (click)="selectActivity(activity)" routerLink="/details">Dettagli</button>
    </div>
</div>

<button routerLink="/request">Richiedi un'attività</button>

<ng-template #noActivities>
    There aren't any activities
</ng-template>
