<h1>Activity</h1>

<form [formGroup]="activityForm" (ngSubmit)="onSubmit()">

    <label for="type">Type: </label>
    <select id="type" formControlName="type">
        <option value="education">Education</option>
        <option value="recreational">Recreational</option>
        <option value="social">Social</option>
        <option value="diy">Diy</option>
        <option value="charity">Charity</option>
        <option value="cooking">Cooking</option>
        <option value="relaxation">Relaxation</option>
        <option value="music">Music</option>
        <option value="busywork">Busywork</option>
    </select>

    <label for="participants">Participants: </label>
    <input id="participants" type="number" min="1" formControlName="participants">

    <label for="price">Price: </label>
    <input type="range" min="0" max="1" id="price" step="0.05" formControlName="price">

    <button class="btn btn-primary" type="submit">Invia</button>
    <!-- [disabled]="!activityForm.valid" -->
  
</form>

